.list-group-item.active.red-accent {
    z-index: 2;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

#button-keranjang {
    filter: brightness(0) invert(1);
}

#container-user-akses {
    max-width: 60%;
}

@media (max-width: 767.98px) {
    body{
        font-size: 12px;
    }
    #container-user-akses {
        max-width: 80%;
    }
    .btn {
        font-size: 12px;
    }
    .form-control {
        font-size: 11px;
    }
}